@font-face {
    font-family: "Open Sans";
    src: url(fonts/opensans-light.woff2) format(woff2),
    url(fonts/opensans-light.woff) format(woff);
     /* Для более корректного и быстрого рендера шрифтов указываем след-е стили */  
    font-display: swap; /* сначала подгружается системный шрифт, потом наш. Для более корректного и быстрого рендера шрифтов */     
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url(fonts/opensans-regular.woff2) format(woff2),
    url(fonts/opensans-regular.woff) format(woff);
    font-display: swap; 
    font-weight: 400;      
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url(fonts/gilroy-light.woff2) format(woff2),
    url(fonts/gilroy-light.woff) format(woff);
    font-display: swap; 
    font-weight: 300;      
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url(fonts/gilroy-extra-bold.woff2) format(woff2),
    url(fonts/gilroy-extra-bold.woff) format(woff);
    font-display: swap; 
    font-weight: 800;      
    font-style: normal;
}




*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

*::before,   /* пишем для них box-sizing отдельно, тк псевдоэл-ты по сути не эл-ты html и по * выше они могут не сработать */
*::after{
    box-sizing: border-box;
}

a, a:visited, a:hover, a:active a:focus{
    text-decoration: none;

}

ul, ol, li{
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;  /* чтобы картинки не выходили за пределы родителя */
}

h1, h2, h3, h4 {
    margin: 0px;
    font-weight: inherit;
    font-size: inherit;
}

html,
body{
    height: 100%; /* прижимаем футер к низу*/
    line-height: 1;  /* межстрочный интервал */
    
    font-size: 16px; /* проверить по ходу */
    font-family: 'Open Sans';  /* ? */ 
}

.wrapper{
    /* min-height: 100%;  прижимаем футер к низу */
    overflow: hidden;   /*скрыть все, что выходит за пределы */
    /* display: flex;     прижимаем футер к низу
    flex-direction: column;     прижимаем футер к низу */
}


main{
    /* flex: 1 1 auto;    прижимаем футер к низу */
}


/* --------------   HEADER   -------------- */

.container-header{
    width: 1160px;
    height: 300px;
    background-color: #f7e296;
    margin: 0 auto;
    margin-top: 40px;

    position: relative;

    /* border: 2px solid red; */
}

.header-logo{
    position: absolute;
    top: -20px;
    left: 60px;
}

.header-bar{
    max-width: 1040px;
    margin: 0 auto;
    padding-top: 50px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    /* border: 2px solid rgb(0, 34, 255); */
}

.header-bar_link{
    display: flex;
    align-items: center;

    /* border: 2px solid rgb(255, 0, 149); */
}

.header-bar_link:last-child{
    padding-left: 40px;
}

.header-bar_link-input{
    display: flex;
    align-items: center;
    margin-left: 115px;

    /* border: 2px solid rgb(26, 255, 0); */
}



.header-bar_text{
    padding-left: 13px;
}

.header-bar-left{
    display: flex;

    /* border: 2px solid rgb(0, 242, 255); */

}

/* -------------- Site-navigation  -------------- */

.Gilroy-extrabold{
    font-family: "Gilroy";
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: .2em;
}

.OpenSans-light{
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}

.header-menu{
    min-width: 1040px;
    display: flex;
    padding-top: 50px;
    justify-content: flex-start;

    /* border: 2px solid rgb(255, 0, 195); */
}

.site-navigation{
    width: 508px;
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-between;
    margin-left: 312px;

    /* border: 2px solid rgb(0, 242, 255); */
}

.site-navigation>li:nth-child(1){
    margin-right: -70px;
}

.submenu{
    position: absolute;
    display: flex;
    align-items: flex-start;
    column-gap: 50px;
    padding: 30px 0 0 0px;
    
    width: 1040px;
    height: 160px;
    background-color: #f7e296;

    opacity: 0;
    visibility: hidden;
    z-index: 2    я-штвучЖ 2*
;
    /* border: 2px solid rgb(255, 0, 166); */

}

/* .submenu:target{
    opacity: 1;
    visibility: visible;
} */

.site-navigation-link:hover + .submenu:target{
    opacity: 1;
    visibility: visible;
}

.submenu-column{
    line-height: 30px;
}


.catalog{
    position: relative;
    display: inline-block;

    /* border: 2px solid rgb(255, 60, 0); */

}

.catalog:after{
    position: absolute;
    content: "";
    background: url(images/plus.png) no-repeat;
    width: 20px;
    height: 20px;
    margin-left: 27px;

    width: 100px;
    opacity: 0.3;
}



/* -------------- MAIN  slider-------------- */

.slider-conteiner{
    position: relative;
    margin-bottom: 105px;
}

.slider-one{
    max-width: 1040px;
    margin: 0 auto;
    display: flex;

    position: relative;
    margin-top: -110px;
    z-index: 1;

    border: 2px solid rgb(21, 0, 255);
}

.slider-one::before{
    content: '01';
    right: -15px;
    top: -18px;
    position: absolute;
    

    font-family: "Gilroy";
    text-transform: uppercase;
    font-weight: 800;
    font-size: 180px;
    color: rgb(255, 255, 255);
}

.main-foto {
    margin-left: 30px;
    margin-right: 125px;
}
.description {
}

.description-title {
    font-family: "Gilroy";
    font-weight: 800;
    font-size: 47px;

    margin-top: 80px;
    margin-bottom: 40px;
}

.description-info {
    margin-bottom: 60px;

}

.detail-button {
    position: relative;
    color: black;
    padding-left: 43px;
}

.detail-button::before {
    content: "";
    display: block;
    width: 220px;
    height: 8px;
    background-color: #f0c52e;

    position: absolute;
    top: 7px;
    left: 0px;
    z-index: -1;
}

.detail-button:hover::before{
   top: -10px;
   height: 40px;
}

.detail-button:active {
    color: #be9c22;
}

.detail-button{}

.grid {
    display: grid;
    grid-template-columns: 80px 62px 125px;
    grid-template-rows: 35px 15px;
    grid-column-gap: 80px;
    grid-row-gap: 18px;
    margin-top: 50px;

}

.value {
    font-family: "Gilroy";
    font-weight: 300;
    font-size: 36px;

}
.name {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 13px;

    /* border: 1px solid rgb(255, 0, 0); */

}





















/* -------------- FOOTER  -------------- */

.footer {
    /* max-width: 1440px; */
    color: #fff;
    background-color: #464646;
}
.conteiner-footer {
    max-width: 1190px;
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 67px;
    padding-left: 15px;
    padding-right: 15px;
    
    /* border: 2px solid rgb(255, 0, 166); */
}


.footer-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 42px;
}
.f-logo-link:hover { 
    opacity: 0.6;
}

.f-logo-link:active { 
    opacity: 0.3;
}

.f-logo-img {
}

.f-menu {
    display: flex;
}

.f-menu-link {
    display: flex;
    align-items: center;
}

.f-menu-link:not(:last-child){
    margin-right: 43px;
}

.f-menu-link:hover >.f-menu-img{
    opacity: .6;
}
.f-menu-link:hover >.f-menu-text{
    opacity: 1;
}

.f-menu-link:active >.f-menu-img{
    opacity: .3;
}
.f-menu-link:active >.f-menu-text{
    opacity: .3;
}

.f-menu-img{
}

.f-menu-text {
    margin-left: 12px;
    color: #fff;
    opacity: 0.7;
}


.footer-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 70px;
}

.adress {
}

.delivery-list {
    display: flex;
}

.delivery-item:not(:last-child) {
    margin-right: 40px;
}

.delivery-link {
    color: #fff;
}
.delivery-link:hover {
    opacity: 0.6;
}
.delivery-link:active {
    opacity: 0.3;
}


.phone-number {
}

.footer-tree {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-link{
    opacity: 0.3;
}
.icon-link:hover {
    opacity: 0.6;
}
.icon-link:active {
    opacity: 0.1;
}

.icon-list {
    display: flex;
}


.icon-item:not(:last-child) {
    margin-right: 23px;
}

.icon-img {
}
.logo-html:hover {
    opacity: 0.6;
}
.logo-html:active {
    opacity: 0.3;
}



/* _________________удалить___- */

