@font-face {
    font-family: "Open Sans";
    src: url(fonts/opensans-light.woff2) format(woff2),
    url(fonts/opensans-light.woff) format(woff);
     /* Для более корректного и быстрого рендера шрифтов указываем след-е стили */  
    font-display: swap; /* сначала подгружается системный шрифт, потом наш. Для более корректного и быстрого рендера шрифтов */     
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url(fonts/opensans-regular.woff2) format(woff2),
    url(fonts/opensans-regular.woff) format(woff);
    font-display: swap; 
    font-weight: 400;      
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url(fonts/gilroy-light.woff2) format(woff2),
    url(fonts/gilroy-light.woff) format(woff);
    font-display: swap; 
    font-weight: 300;      
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url(fonts/gilroy-extra-bold.woff2) format(woff2),
    url(fonts/gilroy-extra-bold.woff) format(woff);
    font-display: swap; 
    font-weight: 800;      
    font-style: normal;
}




*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

*::before,   /* пишем для них box-sizing отдельно, тк псевдоэл-ты по сути не эл-ты html и по * выше они могут не сработать */
*::after{
    box-sizing: border-box;
}

a, a:visited, a:hover, a:active a:focus{
    text-decoration: none;
    color: black;

}

ul, ol, li{
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;  /* чтобы картинки не выходили за пределы родителя */
}

h1, h2, h3, h4 {
    margin: 0px;
    font-weight: inherit;
    font-size: inherit;
}

body{
    height: 100%; /* прижимаем футер к низу*/
    line-height: 1;  /* межстрочный интервал */
    
    font-size: 16px; /* проверить по ходу */
    font-family: 'Open Sans';  /* ? */ 
}

.wrapper{
    min-height: 100%;  /*прижимаем футер к низу */
    overflow: hidden;   /*скрыть все, что выходит за пределы */
    display: flex;     /*прижимаем футер к низу */
    flex-direction: column;     /*прижимаем футер к низу */
}

main{
    flex: 1 1 auto;    /*прижимаем футер к низу*/
}


/* --------------   HEADER   -------------- */

.container-header{
    width: 1160px;
    height: 300px;
    background-color: #f7e296;
    margin: 0 auto;
    margin-top: 40px;

    position: relative;

    border: 2px solid red;
}

.header-logo{
    position: absolute;
    top: -20px;
    left: 60px;
}

.header-bar{
    max-width: 1040px;
    margin: 0 auto;
    padding-top: 50px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    border: 2px solid rgb(0, 34, 255);
}

.header-bar_link{
    display: flex;
    align-items: center;

    /* border: 2px solid rgb(255, 0, 149); */
}

.header-bar_link:last-child{
    padding-left: 40px;
}

.header-bar_link-input{
    display: flex;
    align-items: center;
    margin-left: 115px;

    /* border: 2px solid rgb(26, 255, 0); */
}



.header-bar_text{
    padding-left: 13px;
}

.header-bar-left{
    display: flex;

    /* border: 2px solid rgb(0, 242, 255); */

}

/* -------------- Site-navigation  -------------- */

.Gilroy-extrabold{
    font-family: "Gilroy";
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: .2em;
}

.OpenSans-light{
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 15px;
}

.qqq{
    min-width: 1040px;
    display: flex;
    padding-top: 50px;
    justify-content: flex-start;

    /* border: 2px solid rgb(255, 0, 195); */

}

.site-navigation{
    width: 508px;
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-between;
    margin-left: 312px;

    /* border: 2px solid rgb(0, 242, 255); */
}

.site-navigation>li:nth-child(1){
    margin-right: -70px;
}

.submenu{
    position: absolute;
    display: flex;
    align-items: flex-start;
    column-gap: 50px;
    padding: 50px 0 0 60px;
    
    width: 1160px;
    height: 160px;
    background-color: #f7e296;

    opacity: 0;
    visibility: hidden;
    border: 2px solid rgb(255, 0, 166);

}

/* .submenu:target{
    opacity: 1;
    visibility: visible;
} */

.site-navigation-link:hover + .submenu:target{
    opacity: 1;
    visibility: visible;
}

.submenu-column{
    line-height: 30px;
}


.catalog{
    position: relative;
    display: inline-block;

    /* border: 2px solid rgb(255, 60, 0); */

}

.catalog:after{
    position: absolute;
    content: "";
    background: url(images/plus.png) no-repeat;
    width: 20px;
    height: 20px;
    margin-left: 27px;
}