@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


@font-face {
    font-family: "Open Sans";
    src: url(fonts/opensans-light.woff2) format(woff2),
    url(fonts/opensans-light.woff) format(woff);
     /* Для более корректного и быстрого рендера шрифтов указываем след-е стили */  
    font-display: swap; /* сначала подгружается системный шрифт, потом наш. Для более корректного и быстрого рендера шрифтов */     
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url(fonts/opensans-regular.woff2) format(woff2),
    url(fonts/opensans-regular.woff) format(woff);
    font-display: swap; 
    font-weight: 400;      
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url(fonts/gilroy-light.woff2) format(woff2),
    url(fonts/gilroy-light.woff) format(woff);
    font-display: swap; 
    font-weight: 300;      
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url(fonts/gilroy-extra-bold.woff2) format(woff2),
    url(fonts/gilroy-extra-bold.woff) format(woff);
    font-display: swap; 
    font-weight: 800;      
    font-style: normal;
}




*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

*::before,   /* пишем для них box-sizing отдельно, тк псевдоэл-ты по сути не эл-ты html и по * выше они могут не сработать */
*::after{
    box-sizing: border-box;
}

a, a:visited, a:hover, a:active a:focus{
    text-decoration: none;
    color: black;

}

ul, ol, li{
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;  /* чтобы картинки не выходили за пределы родителя */
}

h1, h2, h3, h4 {
    margin: 0px;
    font-weight: inherit;
    font-size: inherit;
}

html,
body{
    height: 100%; /* прижимаем футер к низу*/
    line-height: 1;  /* межстрочный интервал */
    
    font-size: 16px; /* проверить по ходу */
    /* font-family: 'Open Sans';  ?  */
}

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

/* button{
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
} */

/* Убираем крестик стирания текста внутри формы для поиска */
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }


/* --------------   HEADER   -------------- */



.container-header{
    width: 1160px;
    height: 300px;
    background-color: #f7e296;
    margin: 0 auto;
    margin-top: 40px;

    position: relative;

    /* border: 2px solid red; */
}

.header-logo{
    position: absolute;
    top: -20px;
    left: 60px;
}

.header-bar{
    max-width: 1040px;
    margin: 0 auto;
    padding-top: 50px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    /* border: 2px solid rgb(0, 34, 255); */
}

.header-bar_link{
    display: flex;
    align-items: center;
    color: black;

    /* border: 2px solid rgb(255, 0, 149); */
}

.header-bar_link:last-child{
    padding-left: 40px;
}

.header-bar_link-input{
    display: flex;
    align-items: center;
    margin-left: 115px;
    color: black;
}

.header-bar_text{
    padding-left: 13px;
}

.header-bar-left{
    display: flex;

    /* border: 2px solid rgb(0, 242, 255); */
}


/* ----------- Поиск (начало)----------- */

.search {
    position: relative;

    /* border: 2px solid rgb(0, 242, 255); */
}

.search-label {
    display: inline-block;
    background-image: url('images/search.svg');

    width: 33px;
    height: 34px;
    vertical-align: top;
    background-repeat:no-repeat;
    background-position: 0px 7px;
}


.search-input {
    outline: 0; /* убирает обводку при выделении "пуска" */
    background-color: transparent;
    
    /* border: 2px solid rgb(255, 149, 0); */
}


.search__button {
}





/* ----------- Site-navigation (начало) ------- */

.Gilroy-extrabold{
    font-family: "Gilroy";
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: .2em;
    color: black;
}

.Gilroy-extrabold24{
    font-family: "Gilroy";
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: black;
}

.OpenSans-light{
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}

.header-menu{
    /* min-width: 1045px;
    display: flex;
    padding-top: 50px;
    justify-content: flex-start; */
    display: inline-block;
    padding-top: 50px;
    position: relative;


}

.site-navigation{
    width: 508px;
    display: flex;
    justify-content: space-between;
    margin-left: 312px;
    padding-top: 50px;

    position: absolute;
    top: 0px;
    left: 222px;
}
/* 
.catalog-link{
    position: relative;
    display: block;
} */

.menu{
    width: 1160px;
    height: 148px;
    background-color: #f7e296;
    position: relative;
    top: 0;
    left: -60px;
    z-index: 2;
    display: none;    
}

.submenu{
    display: flex;
    align-items: flex-start;
    column-gap: 50px;
    padding: 30px 0 0 60px;
}

.catalog-link:hover +.menu{
    display: flex;
}

.menu:hover{
    display: flex;

}


.submenu-column{
    line-height: 30px;
}

.site-navigation>c{
    margin-right: -70px;
}


.catalog{
    position: relative;
}

.catalog:after{
    position: absolute;
    content: "";
    background: url(images/plus.png) no-repeat;
    width: 20px;
    height: 20px;
    margin-left: 27px;

    width: 100px;
    opacity: 0.3;
}



/* -------------- MAIN  slider-------------- */

.slider-conteiner{
    position: relative;
    margin-bottom: 105px;
}

.slider{
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    position: relative;
    margin-top: -110px;
    z-index: 1;

    /* border: 2px solid rgb(21, 0, 255); */
}

.slider::before{
    font-family: "Gilroy";
    text-transform: uppercase;
    font-weight: 800;
    font-size: 180px;
    color: rgb(255, 255, 255);
    position: absolute;
    right: -15px;
    top: -18px;
    z-index: -1;
}

.slider:nth-child(1)::before{
    content: '01';    
}
.slider:nth-child(2)::before{
    content: '02';
}
.slider:nth-child(3)::before{
    content: '03';
}

.foto-size-one{
    margin-left: 30px;
    margin-right: 125px;
}
.foto-size-two{
    margin-left: 30px;
    margin-right: 154px;
}
.foto-size-tree{
    margin-left: -35px;
    margin-right: 46px;
}


.description-title {
    font-family: "Gilroy";
    font-weight: 800;
    font-size: 47px;

    margin-top: 80px;
    margin-bottom: 40px;
}

.description-info {
    margin-bottom: 60px;

}

.detail-button {
    position: relative;
    color: black;
    padding-left: 43px;
}

.detail-button::before {
    content: "";
    display: block;
    width: 220px;
    height: 8px;
    background-color: #f0c52e;

    position: absolute;
    top: 7px;
    left: 0px;
    z-index: -1;
}

.detail-button:hover::before{
   top: -10px;
   height: 40px;
   transition:all .3s linear;
}

.detail-button:active {
    color: #be9c22;
}



.table{
    width: fit-content;  /* размер ячейки + ее контенту */
    width: 100%;  /*то ширина таблицы будет равна ширине блока-контейнера, в котором она находится. */
    text-align: left;
    margin-top: 50px;
}

.value {
    font-family: "Gilroy";
    font-weight: 300;
    font-size: 36px;

}
.name {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 13px;
    padding-top: 20px;
} 


/* кнопки управления слайдером */



.radio{
    display: flex;
}

.radio-input{
    display: none;
}    

.radio-btn {
    position: relative;
}

.radio-lable::before{
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1.5px solid black;
    background-color: white;
    margin-right: 20px;
}

.radio-lable::after {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
    border: 1.5px solid black;

    position: absolute;
    top: 3.7px;
    left: 3.3px;
    z-index: 1;
}

/* конец / кнопки управления слайдером  */


 /* Блок с гаджетами (Начало) */

.gadget{
    max-width: 1160px;
    margin: 0 auto;

    /* border: 2px solid rgb(21, 0, 255); */
}
.gadget-list {
    display: flex;
    justify-content: space-between;

}
.gadget-item {
}

.gadget-link {
    height: 160px;
}



.gadget-wrap {
    width: 160px;
    height: 160px;
    background-color: #f7e296;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.gadget-link:hover .gadget-wrap{
    background-color: #f0c52e;
}

.gadget-link:active .gadget-img {
    opacity: 30%;
}
.gadget-link:active .gadget-text {
    opacity: 30%;
}
   
.size{
    align-self: flex-end;  /*устанавливает выравнивание отдельно взятого флекс-элемента внутри контейнера по высоте */
}

.gadget-text {
    max-width: 160px;

    margin-bottom: 90px;  
    /* border: 2px solid rgb(0, 255, 136); */
}

/* ---------Блок с гаджетами (Конец)---------- */



/* ------Слайдер с услугами (Начало)----------- */


.services {
    background-color: #e5e5e5;
    margin-top: 100px;
    padding-bottom:97px;
    margin-bottom:95px;

    /* border: 2px solid rgb(0, 255, 136); */

    
}

.services-wrap {
    width:1200px;
    margin:0 auto;
    padding:0 20px;

    display: flex;
    position: relative;
   
    /* border: 2px solid rgb(0, 153, 255); */


}

.services-btn-block {
    display: flex;       
    flex-direction: column;
    position: relative;
    top: -8px;

    /* border: 2px solid rgb(255, 123, 0); */

}

.services-btn-block::after{
    content: "";
    width: 7px;
    height: 319px;
    background-color: black;
    position: absolute;
    top: -80px;
    left: 276px;
}

.services-btn {
    display: block;
    min-width: 160px;

    position: relative;
    z-index: 0;
    text-align: center;
    margin-bottom: 50px;

}

.services-btn::before{
    content: "";
    width: 160px;
    height: 8px;
    background-color: #f0c52e;
    
    position: absolute;
    top: 5px;
    left: 0px;
    z-index: -1;
}

.services-btn:hover::before{
    top: -10px;
    height: 40px;
    transition:all .1s linear;
}

.services-btn:active::before{
    background-color: black;
    width: 278px;
    transition:all .05s linear;

}

.services-btn:active{
    color: #f0c52e;
}





.services-menu {
    position: relative;
    top: -26px;
    left: 200px;

    /* border: 2px solid rgb(255, 123, 0); */

}

.delivery-img{
    position: absolute;
    top: 6px;
    left: 560px;
}

.services-title {
    font-family: "Gilroy";
    font-weight: 800;
    font-size: 47px;
    padding-bottom: 40px;
    letter-spacing: .1em;
}

.services-text {
    
}

.hiden{
    display: none;
}




/* ------  СПОНСОРЫ (Начало)----------- */

.brands {
    width:1200px;
    margin:0 auto;
    padding:0 20px;

    margin-bottom: 90px;
}

.brands-list {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.brands-item {
}
.brands-link {
    filter: grayscale(100%);
    opacity: .2;
}

.brands-link:hover{
    opacity: 1;
    filter: grayscale(0%);
}

.brands-img {}

/* ------  СПОНСОРЫ (Конец)----------- */

/* ------  О НАС (Начало)----------- */

.about-us {
    width:1200px;
    margin:0 auto;
    padding:0 20px;

    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.about{
    position: relative;
}

.about-title::before{
    content: "";
    width: 80px;
    height: 7px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
}

.about-title {
    font-family: "Gilroy";
    font-weight: 800;
    font-size: 47px;
    line-height: 48px;
    color: black;
    padding-top: 60px;
    padding-bottom: 62px;
}
.about-text {
    padding-bottom: 50px;
}
.about-list {
    margin-bottom: 54px;
}
.about-item {
    font-family: "Gilroy";
    font-weight: 800;
    font-size: 16px;
    line-height: 40px;
    color: black;
}

.about-item::before{
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #e5e5e5;

    display: inline-block;
    margin-right: 23px;
}

.about-btn {
    display: inline-block;
    position: relative;
    padding-left: 23px;
}

.about-btn::before{
    content: "";
    width: 260px;
    height: 8px;
    background-color: #f0c52e;
    position: absolute;
    top: 5px;
    left: 0px;
    z-index: -1;
}

.about-btn:hover:before{
    top: -10px;
    height: 40px; 
    transition:all .2s linear;
}

.about-btn:active{
    color: rgba(0,0,0,.3);
}


.contacts {
    position: relative;
}
.map-link {
    display: block;
    margin-bottom: 62px;
}
.map-img {
}

.map-btn{
    display: inline-block;
    position: relative;
    padding-left: 38px;
}

.map-btn::before{
    content: "";
    width: 260px;
    height: 8px;
    background-color: #f0c52e;
    position: absolute;
    top: 5px;
    left: 0px;
    z-index: -1;
}

.map-btn:hover:before{
    top: -10px;
    height: 40px;
    transition:all .2s linear;
}

.map-btn:active{
    color: rgba(0,0,0,.3);
}



/* ------  О НАС (Конец)----------- */
















/* -------------- FOOTER  -------------- */

.footer {
    /* max-width: 1440px; */
    color: #fff;
    background-color: #464646;
}
.conteiner-footer {
    max-width: 1190px;
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 67px;
    padding-left: 15px;
    padding-right: 15px;
    
    /* border: 2px solid rgb(255, 0, 166); */
}


.footer-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 42px;
}
.f-logo-link:hover { 
    opacity: 0.6;
}

.f-logo-link:active { 
    opacity: 0.3;
}

.f-logo-img {
}

.f-menu {
    display: flex;
}

.f-menu-link {
    display: flex;
    align-items: center;
}

.f-menu-link:not(:last-child){
    margin-right: 43px;
}

.f-menu-link:hover >.f-menu-img{
    opacity: .6;
}
.f-menu-link:hover >.f-menu-text{
    opacity: 1;
}

.f-menu-link:active >.f-menu-img{
    opacity: .3;
}
.f-menu-link:active >.f-menu-text{
    opacity: .3;
}

.f-menu-img{
}

.f-menu-text {
    margin-left: 12px;
    color: #fff;
    opacity: 0.7;
}


.footer-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 70px;
    
}

.adress {
}

.delivery-list {
    display: flex;
}

.delivery-item:not(:last-child) {
    margin-right: 40px;
}

.delivery-item .Gilroy-extrabold{
    color: #fff;
}
.delivery-link:hover {
    opacity: 0.6;
}
.delivery-link:active {
    opacity: 0.3;
}


.phone-number {
}

.footer-tree {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-link{
    opacity: 0.3;
}
.icon-link:hover {
    opacity: 0.6;
}
.icon-link:active {
    opacity: 0.1;
}

.icon-list {
    display: flex;
}


.icon-item:not(:last-child) {
    margin-right: 23px;
}

.icon-img {
}
.logo-html:hover {
    opacity: 0.6;
}
.logo-html:active {
    opacity: 0.3;
}











.header-container {   
    position: relative;
    max-width: 1040px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 45px; 
}

.header-logo_link {
    position: absolute;
    top: -18px;
    left: 0px;
}

.header-logo_link:hover {
    opacity: 0.6;
}

.header-logo_link:active{
    opacity: 0.3;
}

.user-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/*--------------Поиск (начало)-------------- */

.search{
    /* border: 1px solid black; */
}
.search-label{
    display: inline-block;
    background-image: url('images/search.svg');
    /* width: 16px; */
    /* height: 16px; */
    background-repeat:no-repeat;
    padding-right: -10px;
    position: absolute;
    top: 10px;
    left: -8px;
}

.search-input{
    /* border: 1px solid rgb(223, 8, 155); */
    width:265px;
    position:relative;
    padding:8px 0 8px 20px;
    line-height:30px;
    /* background-color:transparent; */
    /* border:none;  */
    border-bottom:2px solid transparent;
    margin: -5px;
}

.search-input:focus{
    /* color:#000; */
    border-bottom-color:#000;
}

.search-input:focus +.search-button{
    visibility: visible;
}


.search-input::placeholder{
    color: rgba(0,0,0,.3)
}

.search-input:hover::placeholder{
    color: #8d8d8d;
}


.search-button{
    padding:8px 18px;
    line-height:30px;
    letter-spacing:.01em;
    text-transform:none;
    font-weight:400;
    color:#000;
    background-color:transparent;
    border:2px solid #000;
    visibility:hidden;
}

.search-button:hover{
    color: white;
    background-color: #000;
}

.search-button:active{
    color: #6a6a6a;
    visibility: visible;
}




/*--------------Поиск (конец)-------------- */


.user-account {
    display: flex;
    align-items: center;
    padding-left: 16px;
}

.user-account:hover {
    color:rgba(0,0,0,.6);
}

.user-account:active{
    opacity: .5;
}


.user-link:hover {
    color:rgba(0,0,0,.6);
}

.user-link:active{
    color:rgba(0,0,0,.3)
}

.user-link:active{
    opacity: .5;
}



.user-text{
    padding-left: 10px;
}

.user-list {
    display: flex;
    align-items: center;
}

.user-list li:nth-child(1){
    margin-right: 40px;
}

.user-link {
    display: flex;
    align-items: center;
}




/*--------------Меню с Каталогом товаров (начало)-------------- */

.navigation {
   position: relative;
}

.catalog-link{
    position: relative;
}

.catalog-link::after {
    position: absolute;
    content: "";
    background: url(images/plus.png) no-repeat;
    width: 16px;
    height: 16px;
    margin-left: 20px;
    top: 2px;

    opacity: 0.6;
}

.catalog-link:hover{
    color:rgba(0,0,0,.6);
}

.catalog-link:active{
    color:rgba(0,0,0,.3)
}




.catalog-link:hover +.catalog-menu{
    display: flex;
}

.catalog-menu:hover{
    display: flex;
}


.catalog-menu{
    width: 1160px;
    z-index: 3;
    background-color: #f7e296;

    display: none;  
    position: absolute; 
    top: 20px;
    left: -60px; 
    /* padding-left: 50px; */

    /* border: 1px solid rgb(243, 49, 6); */

}

.submenu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    width: 593px;
    height: 160px;

    padding-top: 25px;
}

.submenu-item {
}

.submenu-item:nth-child(6){
    opacity: 0;
}
.submenu-item:nth-child(8){
    opacity: 0;
}
.submenu-item:nth-child(9){
    opacity: 0;
}

.submenu-link:hover {
    color:rgba(0,0,0,.6);
}

.submenu-link:active {
    color:rgba(0,0,0,.3)
}

.navigation-list {
    display: flex;
    position: absolute;
    top: 0px;
    left: 520px;
}

.navigation-list li:first-child {
    display: block;
    margin-right: 40px;
}

.nav-link:hover, .navigation-contacts:hover {
    color:rgba(0,0,0,.6);
}

.nav-link:active, .navigation-contacts:active {
    color:rgba(0,0,0,.3)
}

.navigation-contacts {
    position: absolute;
    top: 0px;
    left: 920px;
    color: black;

}


.search-input, .search-button, .user-account, .user-list{
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    color: black;

}

.submenu{
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 15px;
    line-height: 36px;
    color: black;

}

.catalog-link, .navigation-list, navigation-contacts, .navigation-contacts{
    font-family: "Gilroy";
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: black;
}




/*--------------POPUP (начало)-------------- */

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    z-index: 100;
    transition: .5s all;

    opacity: 0;
    visibility: hidden;
}

.popup:target{
    opacity: 1;
    visibility: visible;
}

.popup-body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup-content {        /* это как-раз по сути наш видимый контект, видимое окошко */
    background-color: #fff;
    /* background-color: rgb(248, 175, 231); */
    color: #000;
    /* max-width: 960px; */
    width: 960px;
    height: 553px;
    padding: 100px;
    position: relative;
    box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);

}

.popup-content p{
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
}

input::placeholder{
    font-family: Open Sans;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0,0,0,.4);
}

textarea::placeholder{
    font-family: Open Sans;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0,0,0,.4);
}

.popup-close {
    position: absolute;
    top: 22px;
    right: 22px;
    opacity: 50%;
}

.popup-close:hover {
    opacity: 1;
}

.popup-close:active {
    opacity: .3;
}


.data-form {
    display: flex;
    margin-bottom: 40px;
}
.name-form {
    margin-right: 100px;
    /* margin-bottom: 25px; */

    margin-right: 40px;
}
.name-input {
    background-color: #f2f2f2;

    width: 360px;
    height: 50px;
    padding-left: 20px;
    margin-top: 15px;
}

.name-input:hover, .email-input:hover, .textarea-text:hover {
    background-color: #ebebeb;
}

.name-input:focus, .email-input:focus, .textarea-text:focus{
    border: 3px solid #f7e296;
}

.email-input:invalid{
    background-color: #f6dada;
}


.email-form {
}
.email-input {
    background-color: #f2f2f2;

    width: 360px;
    height: 50px;
    padding-left: 20px;
    margin-top: 15px;
}
.email-label {
}
.text-form {
}

.textarea-text {
    background-color: #f2f2f2;

    width: 760px;
    height: 156px;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 15px;
    margin-bottom: 50px;
    outline: none;
}
.text-label {
}
.text-btn {
}

.text-btn {
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: .2em;

    position: relative;
    z-index: 0;
    display: block;
    padding-left: 37px;
}

.text-btn::before{
    content: "";
    display: block;
    width: 200px;
    height: 8px;
    background-color: #f0c52e;

    position: absolute;
    top: 7px;
    left: 0px;
    z-index: -1;
}

.text-btn:hover::before{
    top: -10px;
    height: 40px;
    transition:all .1s linear;
}

.text-btn:active{
    color: #be9c22;
}

.popmap{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    z-index: 100;
    transition: .5s all;

    opacity: 0;
    visibility: hidden;
}

.popmap:target{
    opacity: 1;
    visibility: visible;
}

.popmap-body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;

}
.popmap-content {
    width: 960px;
    height: 559px;
    position: relative;

}


